// Imports
@import 'bootstrap-custom';
// variables
// Navbar Brand font
$font-brand: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
 // Headings and Paragraph fonts
$font-default: 'Roboto Slab', sans-serif;

// Body
body {
  font-family: $font-default;
  color: #000;
  width: 100%;
}
.container-fluid {
    padding: 0px 0px !important;
}

.row {
    margin: 0px 0px !important;
}

 // Start of navigation
.nav-trans {
  margin-top: 0px;
  background-color: tranparent;
}
.nav-gradient {
height: 95px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&1+8,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 1%, rgba(0,0,0,1) 8%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 1%,rgba(0,0,0,1) 8%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 1%,rgba(0,0,0,1) 8%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fec810;
  font-weight: 900;
  font-family: $font-default;
  font-size: 1.3em;
  margin-right: 20px;


  &:hover {
    // background-color: #000;
    color: #fec810;
    border-radius: 8px;
  }

  &:focus {
    // background-color: #c19400;
    color: #fec810;
  }

  &:active {
    background-color: #ffff00;
    color: #000;
  }
}
 .logo {
margin: -25px 0px 0px -30px;
 }

.navbar-inverse .navbar-brand {
  color: #fec810;
  font-size: 5em;
  font-family: $font-brand;
  padding: 30px;


  &:hover {
    color: #fec810;
    // background-color: rgb(0,0,0);
    border-radius: 8px;
  }

  &:focus {
    color: #fec810;

  }
}
// End of navigation
// Start of Hero

.jumbo-space {
  margin: -30px 0px 25px 0px;
  padding-top: 100px;
  width: 100%;
}

.hero {
  background-image: url("/images/herobw.JPG");
  height: 750px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  position: relative;
}

.hero-header {
  font-weight: 900;
  margin-top: 0px;
  font-size: 4em;
  font-family: $font-default;
  color: #fec810;
  padding-top: 30px;
  padding-bottom: 0px;
}
.header-row {
  margin: 220px 0px 0px 0px;
}

.header-back {
  background-color: rgba(15, 15, 15, .6);
  border-radius: 8px;
  border: 1px solid rgba(254, 200, 16, 0.7);
}

.btn-default {
  margin-top: 34px;
  color: #fff;
  background-color: rgba(254, 200, 16, 0.9);
  border-color: #c19400;
  font-family: $font-default;
  font-size: 2em;
  font-weight: bold;

  &:hover {
    background-color: rgba(0,0,0, 0.7);
    color: #fec810;
  }
  &:active {
    background-color: #ffff00;
  }
}
// End of Header and hero


// Start of services.
#service {
  padding-top: 3%;
}
.container {
// font: ;ont-family: $font-default;
  background-color: #fff;
  color: #000;

}
.service-header {
  font-family: Lobster;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 2%;

  &:before {
    content: "";
    position: absolute;
    border-top: 3px solid #000;
    width: 10%;
    margin-top: 32px;
    margin-left: -11%;
  }

  &:after {
    content: "";
    position: absolute;
    border-top: 3px solid #000;
    width: 10%;
    margin-top: 32px;
    margin-left: 1%;
  }

}
.fa-idea {
  font-size: 4em;
  color: #fff;
  background-color: #fec810;
  border: 1px solid transparent;
  border-radius: 100%;
  height: 105px;
  width: 105px;
  padding-top: 7%;
  margin-bottom: 0px;
  margin-top: 15%;

}

.service-box-h1 {
  margin-top: 10%;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 900;
}

.service-box-p {
  margin: 5% 6% 30%;
  font-size: 1.3em;
  color: #6c757d;
  font-weight: 300;
}
// End of services Section

// Start of Portfolio Section

.container-portfolio {
  background-color: #ccc;
  padding-bottom: 6% !important;
}

.card-img {
  margin: 0px 0px 10px 0px;
}

.card-img-color {
  background: #fec810;
  width: 100%;

}

.card-img:hover {
  transform: scale(1.1);
  transition: .5s;
  }

.card-text{
   padding: 5px 50px 14px 15px;
   margin: 0px 0px 0px 0px;
   }


.Portfolio-box-h1 {
  font-family: Lobster;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 0%;
  margin-top: 6%;

  &:before {
    content: "";
    position: absolute;
    border-top: 3px solid #000;
    width: 10%;
    margin-top: 32px;
    margin-left: -11%;
  }

  &:after {
    content: "";
    position: absolute;
    border-top: 3px solid #000;
    width: 10%;
    margin-top: 32px;
    margin-left: 1%;
  }

}
.card-row-1{
  margin-top: 10%;
  margin-bottom: 0%;
}
.card-row-2{
  margin-top: 3%;
  margin-bottom: 10%;
}

.card-row-3{
  margin-top: 10%;
  margin-bottom: 0%;
}

.card-left {

float: left;
}

.row-padding-1{
  padding-left: 5%;
  padding-right: 5%;
  }

.card-body-portfolio  {
  background-color: #fff;
  padding: 1px 0px 10px 0px;

  p:first-of-type {
    color: #6c757d;
    font-size: .6ems;
    }
  }
  // End of Portfoilio Section

  // Start of About Section
  .about-h1 {
    font-family: Lobster;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 0%;
    margin-top: 3%;

    &:before {
      content: "";
      position: absolute;
      border-top: 3px solid #000;
      width: 10%;
      margin-top: 32px;
      margin-left: -11%;
    }

    &:after {
      content: "";
      position: absolute;
      border-top: 3px solid #000;
      width: 10%;
      margin-top: 32px;
      margin-left: 1%;
    }
  }
  .h3-title {
    font-weight: 700;
    margin-top:5%;
    margin-bottom: 3%;
  }
.h4-title {
 color: #6c757d;
 margin-top: 3%;
 padding-bottom: 7%;
}
.contact-title {
  font-family: Lobster;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 0px;

  &:before {
    content: "";
    position: absolute;
    border-top: 3px solid #000;
    width: 10%;
    margin-top: 32px;
    margin-left: -11%;
  }

  &:after {
    content: "";
    position: absolute;
    border-top: 3px solid #000;
    width: 10%;
    margin-top: 32px;
    margin-left: 1%;
  }
}

.contact-container{
background-color: #ccc;
}
 .contact-space {
   padding-top: 10%;
 }

.input-box {
  display: block;
  padding: 5px 0px 5px 10px;
  margin: 15px 0px 15px 0px;
}

.submit-button {
  margin: 15px 0px 30px 0px;
  padding: 0px 10px 10px 10px;
  color: #fff;
  background-color: rgba(254, 200, 16, 0.9);
  border-color: #c19400;
  font-family: $font-default;
  font-size: 2em;
  font-weight: bold;


  &:hover {
    background-color: rgba(0,0,0, 0.7);
    color: #fec810;
  }
  &:active {
    background-color: #ffff00;
  }
}




 #myFooter{
     padding-top:32px;
 }

 #myFooter .container{
     text-align: center;
 }

 #myFooter .footer-copyright{
     margin-bottom: 35px;
     text-align: center;
     color: #777;
 }

 #myFooter ul{
     list-style-type: none;
     padding: 0;
     margin-bottom: 18px;
 }

 #myFooter a{
     color: #282b2d;
     font-size: 18px;
 }

 #myFooter li{
     display: inline-block;
     margin: 0px 15px;
     line-height: 2;
 }

 #myFooter .footer-social{
     text-align: center;
padding-top: 25px;     padding-bottom: 25px;
     background-color: #eee;
 }

 #myFooter .fab{
     font-size: 36px;
     margin-right: 15px;
     margin-left: 20px;
     background-color: #fec810;
     color: #6c757d;
     border-radius: 51%;
     padding: 10px;
     height: 60px;
     width: 60px;
     text-align: center;
     line-height: 43px;
     text-decoration: none;
     transition:color 0.2s;
 }

 #myFooter .fab:hover{
    color: #3b5998;
 }

 #myFooter .fab:focus{
     color: #3b5998;
 }

 #myFooter .git:hover{
     color:#333;
 }

 #myFooter .git:focus{
     color:#333;
 }

 #myFooter .linkedin:hover{
     color: #0077b5;

 }

 #myFooter .linkedin:focus{
     color:#0077b5;
 }
